:root
{
	/* Colours */
	--orange100: rgb(242, 101, 34);
	--orange75: rgb(242, 101, 34, 0.75);
	--orange50: rgb(242, 101, 34, 0.5);
	--orange33: rgb(242, 101, 34, 0.33);
	--darkgrey: rgb(100, 100, 100);
	--mediumgrey: rgb(153, 153, 153);
	--lightgrey: rgb(230, 230, 230);
	--white: rgb(255, 255, 255);
	--blue: rgb(41, 151, 255, 1);
	--blue50: rgba(129, 203, 255, 1);
}

@font-face {
  font-family: FiraSans-Regular;
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Italic;
  src: url("../fonts/FiraSans-Italic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Medium;
  src: url("../fonts/FiraSans-Medium.woff") format("woff");
}
@font-face {
  font-family: FiraSans-MediumItalic;
  src: url("../fonts/FiraSans-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-UltraItalic;
  src: url("../fonts/FiraSans-UltraItalic.woff") format("woff");
}
@font-face {
  font-family: FiraMono-Medium;
  src: url("../fonts/FiraMono-Medium.woff") format("woff");
}

/* * * * * * * * *  * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * General Type Stuff * * * * * * * * */
/* * * * * * * * *  * * * * * * * * * * * * * * * * * * */
html
{
	font-size: 100%;
	line-height: 1.5;
	color: #000000;
	font-family: "FiraSans-Regular", Arial, Helvetica, sans-serif;
}

body
{
	max-width: 90rem;
	padding: 0 .5rem 0 .5rem;
	margin: 0 auto;
}

a, a:link
{
	color: black;
	text-decoration-color: var(--blue50);
	text-decoration-thickness: 3px;
	text-underline-offset: 1.5px;
}

a:visited { color: rgba(60, 60, 60, 1); }
a:hover { color: var(--blue); }
a:active { color: rgba(247 148 29); }
a:focus { outline: 2px solid black; }
.uppercase { text-transform: uppercase; }
.small { font-size: .8rem; }

.skip-to-content-link
{
	position: absolute;
	transform: translateY(-100%);
}

.skip-to-content-link
{
	background: #e77e23;
	left: 50%;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 0.3s;
}

.skip-to-content-link:focus { transform: translateY(0%); }

.italic
{
	font-weight: normal;
	font-family: "FiraSans-Italic", Arial, Helvetica, sans-serif;
}

.blue { color: var(--blue); }
.text-align-right { text-align: right; }

blockquote
{
	font-weight: normal;
	font-family: "FiraSans-Regular", Arial, Helvetica, sans-serif;
	margin: 2rem 0 2rem 2rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
	border-left: 4px solid var(--lightgrey);
	padding-left: 1rem;
	padding-right: 6rem;
	color: var(--darkgrey);
}

blockquote ~ a { color: var(--mediumgrey); }

.site-id
{
	font-weight: normal;
	font-family: "FiraSans-UltraItalic";
	font-size: 6rem;
}

a.site-id,
a:visited.site-id
{
	text-decoration: none;
	color: black;
	border-bottom: 0;
}

a:hover.site-id { color: var(--blue); }

/* * * * * * Course Nav * * * * * */
nav { text-align: right; }

nav span
{
	font-weight: normal;
	font-family: "FiraSans-MediumItalic";
}

/* * * * * * Heading Formatting * * * * * */
h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: normal;
	font-family: "FiraSans-Medium";
}

h1,
h2 { letter-spacing: -0.0312rem; }
h2 { font-size: 1.2rem; }
#content h1 { font-size: 1.6rem; }
#content ol li { list-style-type: decimal; }

#content ul.links
{
	padding: .25rem;
	text-align: center;
}

#content ul li.links
{
	display: inline-block;
	margin-right: 2rem;
}

ul.hasBullets
{
	margin-top: 1rem;
	padding: 0;
	padding-left: 2rem;
	list-style: none;
}

ul.hasBullets li { text-indent: -1rem; }

ul.hasBullets li:before
{
	content: "\27A4";
	margin-right: 10px;
	font-size: 0.5rem;
}

#content h2
{
	font-size: 1.4rem;
	margin-top: 2rem;
}

#content h3
{
	font-size: 1.1rem;
	text-transform: uppercase;
}

#content h4 { font-size: 1.0rem; }
#content h1 + p,
#content h2 + p,
#content h3 + p,
#content h4 + p,
#content h5 + p,
#content h6 + p { margin-top: 0; }

#content h3,
#content h4,
#content h5
{
	margin-top: 2rem;
	margin-bottom: 0;
}

#content p + p { margin-top: .5rem; }

.course-info1 h3,
.course-info2 h3,
.assignment
{
	margin-bottom: 0;
	padding-bottom: 0;
}

.course-info1, .course-info2 { font-size: .875rem; }
.item { font-size: 0.875rem; }

em
{
	font-style: normal;
	font-weight: normal;
	font-family: "FiraSans-Italic";
}

strong
{
	font-style: normal;
	font-weight: normal;
	font-family: "FiraSans-Medium";
}

.deck
{
	font-size: 1.2rem;
	font-family: "FiraSans-Italic";
	margin-bottom: 1rem;
	color: rgba(100, 100, 100, 1);
}

.item p { display: none; }

dt
{
	font-style: normal;
	font-weight: normal;
	font-family: "FiraSans-Medium";
	margin-top: 0.5em;
	margin-left: 1rem;
}

dd
{
	margin-bottom: 0.25em;
	margin-left: 2em;
}

dd:last-of-type, ul.hasBullets li:last-of-type { margin-bottom: 1rem; }

code
{
	background: #ededed;
	font-style: normal;
	font-weight: normal;
	font-family: "FiraMono-Medium";
	padding: 0.2em 0.5rem;
	border-radius: 4px;
	border: 1px solid lightgrey;
}

.mono
{
	font-style: normal;
	font-weight: normal;
	font-family: "FiraMono-Medium";
}

.footer a, .footer a:link, .footer a:visited, .footer { color: var(--mediumgrey); }
.footer { color: var(--darkgrey); }

.footer1 a.site-id
{
	font-style: normal;
	font-weight: normal;
	font-family: "FiraSans-UltraItalic";
	font-size: 1.2rem;
	text-decoration: underline;
	color: var(--darkgrey);
}

.footer1 a.site-id:hover { color: var(--orange100); }

.footer1 h4, .footer2 h4, .footer3 h4, .footer4 h4
{
	font-style: normal;
	font-weight: normal;
	font-family: "FiraSans-MediumItalic";
}

.footer1 ul, .footer2 ul, .footer3 ul, .footer4 ul
{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: .5rem;
	padding-top: 0;
}

img
{
	border: 0px solid rgba(100, 100, 100, 1);
	display: block;
	margin: 1rem auto;
	max-width: 100%;
}

/* SVG Styles */
.darkgrey { fill: var(--darkgrey); }
.mediumgrey { fill: var(--mediumgrey); }
.lightgrey { fill: var(--lightgrey); }

/* END SVG Styles */
nav span { padding-right: 2rem; }

.footer1
{
	border-top: 6px solid var(--lightgrey);
	padding-top: 1rem;
	margin-top: 2rem;
}

/* Rubric Layout */
ul.criteria
{
	margin: 0;
	padding: 0;
}

li.criterium::before { content: " "; }

/* * * * * * * * * * Media Queries * * * * * * * * * */
/* * * * * * * * * * 480px – 608px * * * * * * * * * */

@media only screen and (min-width: 30em)
{
	.footer2
	{
		border-top: 6px solid var(--lightgrey);
		padding-top: 1rem;
		margin-top: 2rem;
	}
}

/* * * * * * * * * * 608px – 960px * * * * * * * * * */

@media only screen and (min-width: 42em)
{
	body { padding-top: 0.5rem; }
	.site-id1 { font-size: 6rem; }
	
	.footer3, .footer4
	{
		border-top: 6px solid var(--lightgrey);
		padding-top: 1rem;
		margin-top: 2rem;
	}
	
	.item p { display: block; }
}

/* * * * * * * * * * 960px – 1440px * * * * * * * * * */

@media only screen and (min-width: 60em)
{
	html { font-size: 110%; }
	.site-id { font-size: 7rem; }
	
	.course-info1 h3,
						.course-info2 h3,
						.assignment h3,
						.item h4
	{
		border-bottom: 2px solid var(--lightgrey);
		padding-bottom: 1rem;
		margin-bottom: 0.875rem;
		line-height: 1.3rem;
		font-weight: normal;
		font-family: "FiraSans-Medium";
	}
	
	#content { padding-right: 1rem; }
	
	.item h4
	{
		border-bottom: 2px solid var(--lightgrey);
		padding-bottom: 1rem;
		margin-bottom: 0.875rem;
		line-height: 1.3rem;
		font-weight: normal;
		font-family: "FiraSans-Medium";
	}
}

/* * * * * * * * * * Greater Than 1440px * * * * * * * * * */

@media only screen and (min-width: 90em)
{
	
}
