:root {
  /* Colours */
  --orange100: rgb(242, 101, 34);
  --orange75: rgb(242, 101, 34, 0.75);
  --orange50: rgb(242, 101, 34, 0.5);
  --orange33: rgb(242, 101, 34, 0.33);
  --darkgrey: rgb(76, 76, 76);
  --mediumgrey: rgb(153, 153, 153);
  --lightgrey: rgb(212, 212, 212);
  --white: rgb(255, 255, 255);
}

body {
  padding: 0 .5rem 0 .5rem;
}

#grid {
  display: grid;
  max-width: 90rem;
  margin: 0 auto;
}

img {
  border: 0px solid rgba(100, 100, 100, 1);
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

/* SVG Styles */

.darkgrey {
  fill: var(--darkgrey);
}
.mediumgrey {
  fill: var(--mediumgrey);
}
.lightgrey {
  fill: var(--lightgrey);
}

/* END SVG Styles */

.columns {
  columns: 2 10rem;
  column-gap: 1rem;
  margin-left: 1rem;
}
.columns2 ol {
  margin-top: 0;
  padding-top: 0;
}

.link-icon {
  fill: var(--lightgrey);
}

.footer1 {
  border-top: 6px solid var(--lightgrey);
  padding-top: 1rem;
  margin-top: 2rem;
}

.assignment, .item {
  margin-top: 1rem;
}

.rubric {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  border-spacing: 0.25rem;
}

.rubric th {
  background: #ebebeb;
}

.column-1 {
  width: 15%;
  text-align: center;
}

.column-2 {
  width: 85%;
}

.rubric td {
  white-space: nowrap;
  padding: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid silver;
}

td.topic-row {
  padding: 0.5rem;
  border-bottom-color: #000;
  white-space: normal;
  font-family: "FiraMono-Medium";
}

/* * * * * * * * * * Media Queries * * * * * * * * * */
/* * * * * * * * * * 480px – 608px * * * * * * * * * */

@media only screen and (min-width: 30em) {
  .footer2 {
    border-top: 6px solid var(--lightgrey);
    padding-top: 1rem;
    margin-top: 2rem;
  }
}

/* * * * * * * * * * 608px – 960px * * * * * * * * * */

@media only screen and (min-width: 42em) {
  body {
    padding-top: 0.5rem;
  }
  .footer3, .footer4 {
    border-top: 6px solid var(--lightgrey);
    padding-top: 1rem;
    margin-top: 2rem;
  }
}

/* * * * * * * * * * 960px – 1440px * * * * * * * * * */

@media only screen and (min-width: 60em) {
}

/* * * * * * * * * * Greater Than 1440px * * * * * * * * * */

@media only screen and (min-width: 90em) {
}
