body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul, li
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	max-width: 90rem;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
	grid-template-areas: "site-id" "course-info" "assignment" "item" "footer";
}

.site-id
{
	grid-area: site-id;
	background-color: grey;
}

.course-info
{
	grid-area: course-info;
	background-color: magenta;
}

.assignment
{
	grid-area: assignment;
	background-color: cyan;
}

.item
{
	grid-area: item;
	background-color: limegreen;
}

footer
{
	grid-area: footer;
	background-color: red;
}

#grid > * { padding: 2rem; }
#grid li { list-style-type: none; }
