html
{
	font-size: 100%;
	line-height: 1.3;
}

body { font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul, li
{
	margin: 0;
	padding: 0;
}

#grid
{
	margin: 0 auto;
	max-width: 90rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-areas:
	'site-id'
	'course-info1'
	'course-info2'
	'assignment1'
	'assignment2'
	'assignment3'
	'assignment4'
	'assignment5'
	'assignment6'
	'item1'
	'item2'
	'item3'
	'item4'
	'footer1'
	'footer2';
}

.site-id { grid-area: site-id; }
.course-info { grid-area: course-info; }
.assignment1 { grid-area: assignment1; }
.assignment2 { grid-area: assignment2; }
.assignment3 { grid-area: assignment3; }
.assignment4 { grid-area: assignment4; }
.assignment5 { grid-area: assignment5; }
.assignment6 { grid-area: assignment6; }
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.footer1 { grid-area: footer1; }
.footer2 { grid-area: footer2; }

/* extra temp stuff */
#grid > * { padding: 1rem; }
#grid li { list-style-type: none; }
.site-id { background-color: olive; }

/* * * * * * * * * * Media Queries * * * * * * * * * */
/* * * * * * * * * * 400px – 608px * * * * * * * * * */

@media only screen and (min-width: 25em)
{

	#grid
	{
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
		'site-id'
		'site-id'
		'course-info1'
		'course-info2'
		'assignment1 assignment2'
		'assignment3 assignment4'
		'assignment5 assignment6'
		'item1 item2'
		'item3 item4'
		'footer1 footer2';
	}
	.site-id { background-color: maroon ; }
}

/* * * * * * * * * * 608px – 960px * * * * * * * * * */

@media only screen and (min-width: 38em)
{
	#grid
	{
		grid-template-areas:
		'site-id site-id'
		'course-info1 course-info2'
		'assignment1 assignment2'
		'assignment3 assignment4'
		'assignment5 assignment6'
		'item1 item2'
		'item3 item4'
		'footer1 footer2';
	}
.site-id { background-color: silver; }

}

/* * * * * * * * * * 960px – 1440px * * * * * * * * * */

@media only screen and (min-width: 60em)
{
	#grid
	{
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
		'site-id site-id course-info1 course-info2'
		'assignment1 assignment2 item1 item2'
		'assignment3 assignment4 item3 item4'
		'assignment5 assignment6 . .'
		'footer1 . footer2 .';
	}
	.site-id { background-color: orange; }
}

/* * * * * * * * * * Greater Than 1440px * * * * * * * * * */

@media only screen and (min-width: 90em)
{
	.site-id { background-color: navy; }
}
