/* color: rgba(255, 133, 0, 1);
color: rgba(100, 100, 100, 1);
 */

* { box-sizing: border-box; }

html
{
	overflow-x: hidden;
	font-size: 100%;
/* 	background-color: rgba(242, 242, 237, 1); */
}

body
{
	max-width: 90rem;
	margin: 1rem auto;
	padding: 0 1rem;
}

#grid
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
	grid-template-areas: "site-id" "header" "area1" "nav" "footer";
	gap: 0.5rem;
	padding: 0;
}

#grid-home
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
	grid-template-areas: "site-id" "header" "nav" "footer";
	gap: 0.5rem;
	padding: 0;
}

header { grid-area: header; }
.area1 { grid-area: area1; }
nav { grid-area: nav; }
footer { grid-area: footer;}

header, .area1, nav, footer
{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: start;
}

.cell
{
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 14rem;
	margin: 0 1rem 1rem 0;
}

footer
{
	border-top: 4px solid silver;
	margin: 1rem 0 1rem 0;
	padding-top: 1rem;
}

footer div
{
	padding: .5rem;
	flex: 1 2 auto;
	flex-basis: 10rem;
	min-width: 18rem;
}

footer ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 48rem)
{
	#grid
	{
		display: grid;
		grid-template-areas: "site-id header" "area1 nav" "footer footer";
		gap: 0.5rem;
	}
	
	#grid-home
	{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 45rem));
		grid-template-areas: "site-id header" "nav nav" "footer footer";
		gap: 0.5rem;
		padding: 0;
	}
	
	nav .cell
	{
		flex-shrink: 1;
		flex-grow: 1;
		max-width: 18rem;
		margin: 0 1rem 1rem 0;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: start;
	}
}
