* {
    box-sizing: border-box;
    font-size: 100%;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 90rem;
    margin-top: 0;
    padding: 0 .2rem;
    margin: auto;
}
.container {
	display: grid;
	grid-template-columns: 2fr 8fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.containter > div {
    border: 1px solid red;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 103, 62, 0.3);
}
