/* color: rgba(255, 133, 0, 1);
color: rgba(100, 100, 100, 1);
 */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: FiraSans-Regular;
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Italic;
  src: url("../fonts/FiraSans-Italic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-BoldItalic;
  src: url("../fonts/FiraSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-UltraItalic;
  src: url("../fonts/FiraSans-UltraItalic.woff") format("woff");
}

html {
  overflow-x: hidden;
  font-size: 100%;
}

body {
  max-width: 90rem;
  margin: 0 auto;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  grid-template-areas: "site-id" "header" "area1" "area2" "footer";
  gap: 0.5rem;
  padding: 0;
  margin: 0 1rem;
}
.site-id {
  font-family: FiraSans-UltraItalic;
  font-size: 8rem;
  padding: 1rem 0 0 1rem;
}

header {
  grid-area: header;
  line-height: 1.6rem;
  display: flex;
  flex-flow: row wrap;
}

.area1 {
  grid-area: area1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: start;
}
.assignment {
  align-items: flex-start;
}

.area2 {
  grid-area: area2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: start;
}

.cell {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 14rem;
  margin: 0 1rem 1rem 0;
  padding-top: 1rem;
}
footer {
  border-top: 4px solid silver;
  margin-top: 3rem;
  padding-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}
footer div {
  padding: 1rem;
  border: 1px solid silver;
  flex: 1 2 auto;
  flex-basis: 10rem;
}

footer ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 48rem) {
  #grid {
    grid-template-areas: "site-id header" "area1 area2" "footer footer";
    gap: 0.5rem;
  }
 
}
