/* color: rgba(255, 133, 0, 1);
color: rgba(100, 100, 100, 1);
 */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: FiraSans-Regular;
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Italic;
  src: url("../fonts/FiraSans-Italic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-BoldItalic;
  src: url("../fonts/FiraSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-UltraItalic;
  src: url("../fonts/FiraSans-UltraItalic.woff") format("woff");
}

html {
  overflow-x: hidden;
  font-size: 100%;
}

body {
  max-width: 90rem;
  margin: 0 auto;
  font-family: "FiraSans-Regular", Arial, Helvetica, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  grid-template-areas: "site-id" "header" "area1" "area2" "footer";
  gap: 0.5rem;
  padding: 0;
  margin: 0 1rem;
}
.site-id {
  font-family: FiraSans-UltraItalic;
  font-size: 8rem;
  padding: 1rem 0 0 1rem;
}

header {
  grid-area: header;
  line-height: 1.6rem;
  display: flex;
  flex-flow: row wrap;
}

.area1 {
  grid-area: area1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.area2 {
  grid-area: area2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.cell {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 14rem;
  margin: 0 1rem 1rem 0;
  padding-top: 1rem;
}

h1 {
  margin-bottom: 0.5rem;
}

.area1 > .deck {
  font-size: 1.4rem;
  font-family: "FiraSans-Italic";
  margin-bottom: 0.5rem;
  color: rgba(100, 100, 100, 1);
}

h3 {
  border-bottom: 1px solid black;
}
footer {
  grid-area: footer;
}
.site-id a, .site-id a:visited {
	text-decoration: none;
	color: black;
}

.site-id a:hover {color: orange;}

a, a:link {
  color: black;
  text-decoration-color: blue;
}
a:visited {
  color: darkgray;
}
a:hover {
  color: orange;
}
a:active {
  color: silver;
}
a:focus {
  outline: 2px solid black;
}

.cell ul {
 padding: 0;
  margin-left: 1rem;
}

li.two {
  margin-left: 0;
}

@media only screen and (min-width: 48rem) {
  #grid {
    grid-template-areas: "site-id header" "area1 area2" "footer footer";
    gap: 0.5rem;
  }
}
