@font-face {
  font-family: FiraSans-Regular;
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Italic;
  src: url("../fonts/FiraSans-Italic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Medium;
  src: url("../fonts/FiraSans-Medium.woff") format("woff");
}
@font-face {
  font-family: FiraSans-MediumItalic;
  src: url("../fonts/FiraSans-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-UltraItalic;
  src: url("../fonts/FiraSans-UltraItalic.woff") format("woff");
}
@font-face {
  font-family: FiraMono-Medium;
  src: url("../fonts/FiraMono-Medium.woff") format("woff");
}

html
{
	font-size: 100%;
	line-height: 1.3;
	color: #000000;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul, li
{
	margin: 0;
	padding: 0;
}

body { font-family: "FiraSans-Regular", Arial, Helvetica, sans-serif; }

a, a:link
{
	color: black;
	text-decoration-color: blue;
}

a:visited { color: rgba(60, 60, 60, 1); }
a:hover { color: lightgrey; }
a:active { color: orange; }
a:focus { outline: 2px solid black; }
p { max-width: 95%; }
.uppercase { text-transform: uppercase; }


.site-id1, .footer1
{
	font-weight: normal;
	font-family: "FiraSans-UltraItalic";
	padding: .5rem;
	font-size: 3rem;
}

.footer1 { font-size: 1.5rem; }

.site-id > sup { font-family: "FiraSans-MediumItalic"; }

a.site-id, a:visited.site-id
{
	text-decoration: none;
	color: black;
}

a:hover.site-id { color: orange; }

.course-info1, .course-info2 { font-size: .875rem; }

h1
{
	font-weight: normal;
	font-family: "FiraSans-Medium";
}

h2
{
	font-weight: normal;
	font-family: "FiraSans-Medium";
	font-size: 1.2rem;
}

/*  * * * * END MAIN TYPE FORMATTING * * * *  */

#grid
{
	display: grid;
	max-width: 90rem;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-columns: auto;
	grid-gap: 1rem;
	grid-template-areas:
	'site-id1'
	'course-info1'
	'course-info2'
	'assignment1'
	'assignment2'
	'assignment3'
	'assignment4'
	'assignment5'
	'assignment6'
	'item1'
	'item2'
	'item3'
	'item4'
	'footer1'
	'footer2'
	'footer3'
	'footer4';
}

.site-id1 { grid-area: site-id1; }
.course-info1 { grid-area: course-info1; }
.course-info2 { grid-area: course-info2; }
.assignment1 { grid-area: assignment1; }
.assignment2 { grid-area: assignment2; }
.assignment3 { grid-area: assignment3; }
.assignment4 { grid-area: assignment4; }
.assignment5 { grid-area: assignment5; }
.assignment6 { grid-area: assignment6; }
.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.footer1 { grid-area: footer1; }
.footer2 { grid-area: footer2; }
.footer3 { grid-area: footer3; }
.footer4 { grid-area: footer4; }

/* extra temp stuff */
#grid > * { padding: 0 .5rem 0 .5rem; }
#grid li { list-style-type: none; }
.site-id1 { background-color: olive; }

/* * * * * * * * * * Media Queries * * * * * * * * * */
/* * * * * * * * * * 400px – 608px * * * * * * * * * */

@media only screen and (min-width: 25em)
{

	#grid
	{
		grid-template-columns: 1fr;
		grid-template-areas:
		'site-id1'
		'course-info1'
		'course-info2'
		'assignment1 assignment2'
		'assignment3 assignment4'
		'assignment5 assignment6'
		'item1 item2'
		'item3 item4'
		'footer1 footer2'
		'footer3 footer4';
	}
	.site-id1 { background-color: red ; }
}

/* * * * * * * * * * 608px – 960px * * * * * * * * * */

@media only screen and (min-width: 38em)
{
	#grid
	{
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		'site-id1 .'
		'course-info1 course-info2'
		'assignment1 assignment2'
		'assignment3 assignment4'
		'assignment5 assignment6'
		'item1 item2'
		'item3 item4'
		'footer1 footer2'
		'footer3 footer4';
	}

.site-id1
{
	background-color: silver;
	grid-area: 1 / 1 / auto / span 2;
	font-size: 4rem;
}

}

/* * * * * * * * * * 960px – 1440px * * * * * * * * * */

@media only screen and (min-width: 60em)
{
	#grid
	{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		'site-id1 . course-info1 course-info2'
		'assignment1 assignment2 item1 item2'
		'assignment3 assignment4 item3 item4'
		'assignment5 assignment6 . .'
		'footer1 footer2 footer3 footer4';
	}

	.site-id1
	{
		background-color: orange;
		font-size: 6rem;
	}
}

/* * * * * * * * * * Greater Than 1440px * * * * * * * * * */

@media only screen and (min-width: 90em)
{

	#grid
	{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas:
		'site-id1 . course-info1 course-info2'
		'assignment1 assignment2 item1 item2'
		'assignment3 assignment4 item3 item4'
		'assignment5 assignment6 . .'
		'footer1 footer2 footer3 footer4';
	}
.site-id1
	{
		background-color: fuchsia;
		font-size: 7rem;
	}
}