@font-face {
  font-family: FiraSans-Regular;
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Italic;
  src: url("../fonts/FiraSans-Italic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-Bold;
  src: url("../fonts/FiraSans-Bold.woff") format("woff");
}
@font-face {
  font-family: FiraSans-BoldItalic;
  src: url("../fonts/FiraSans-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: FiraSans-UltraItalic;
  src: url("../fonts/FiraSans-UltraItalic.woff") format("woff");
}
@font-face {
  font-family: FiraMono-Medium;
  src: url("../fonts/FiraMono-Medium.woff") format("woff");
}

html
{
	font-size: 100%;
	line-height: 1.5;
	color: #000000;
}

body { font-family: "FiraSans-Regular", Arial, Helvetica, sans-serif; }

a, a:link
{
	color: black;
	text-decoration-color: blue;
}
a:visited { color: rgba(60, 60, 60, 1); }
a:hover { color: lightgrey; }
a:active { color: orange; }
a:focus { outline: 2px solid black; }
p { max-width: 95%; }

.site-id
{
	font-family: "FiraSans-UltraItalic";
	font-size: 8rem;
	padding: 1rem 0 0 1rem;
}

sup { font-family: "FiraSans-BoldItalic"; }

a.site-id, a:visited.site-id
{
	text-decoration: none;
	color: black;
}

a:hover.site-id { color: orange; }

dt
{
	font-weight: 500;
	margin-top: .5em;
}

dd
{
	margin-bottom: .25em;
	margin-left: 2em;
}

code
{
	background: #ededed;
	font-family: "FiraMono-Medium";
	padding: .2em .5rem;
	border-radius: 4px;
	border: 1px solid lightgrey;
}

nav .cell div:nth-of-type(1) { margin-top: 2rem; }

.deck
{
	font-size: 1.2rem;
	font-family: "FiraSans-Italic";
	margin-bottom: 0.5rem;
	color: rgba(100, 100, 100, 1);
	max-width: 95%;
}

nav h3 a
{
	font-family: "FiraSans-Bold";
}

/* 
nav h3 a::after
{
	content: "\2197";
	margin-left: .25rem;
	color: rgba(200, 200, 200, 1);
}
 */

nav h3
{
	border-bottom: 4px solid black;
	padding-bottom: 1rem;
}

nav ul
{
	list-style-type: none;
	margin: 1rem 0 2rem .5rem;
	padding: 0;
}

nav li { margin-top: .25rem; }
em { font-family: "FiraSans-Italic"; }

header h3
{
	border-bottom: 2px solid rgba(150, 150, 150, 1);
	margin-bottom: .875rem;
	line-height: 1.3rem;
}

header .cell div:nth-of-type(1) { margin-top: .875rem; }
header { font-size: .875rem; }

.cell ul
{
	padding: 0;
	margin-left: 1rem;
}

h1
{
	font-family: "FiraSans-Bold";
}

h2
{
	font-family: "FiraSans-Bold";
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-top: 1rem;
	color: grey;
}

.area1 p
{
	padding: 0;
	margin: 0;
	padding-bottom: 1rem;
}

footer .site-id { font-size: 2rem; }

footer div:nth-child(1)
{
	font-family: "FiraSans-UltraItalic";
	font-size: 2rem;

}

footer { grid-area: footer; }
