_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
type-3.bbprojectd/Unix Worksheet.worksheet
type-3.bbprojectd/Scratchpad.txt
type-3.bbprojectd/project.bbprojectdata
type-3.bbprojectd/paradia.bbprojectsettings
