type-3.bbprojectd/Unix Worksheet.worksheet
type-3.bbprojectd/Scratchpad.txt
type-3.bbprojectd/project.bbprojectdata
type-3.bbprojectd/paradia.bbprojectsettings


### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
Desktop.ini

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Vendor files
node_modules
npm-debug.log
vendor

# Jekyll
_site
.jekyll-metadata

# Temporary files
tmp

# Adobe files
*.ai
*.psd
*.indd
*.indb

# Compressed files
*.zip
*.gz
*.tar
*.7z

# Type faces
*.otf
*.ttf
*.woff
*.eot
*.ttc

# Video & audio
*.mov
*.mp4
*.m4v
*.f4v
*.f4p
*.ogv
*.webm
*.flv
*.mp3
*.m4a
*.f4a
*.f4b
*.oga
*.ogg
*.opus


# Thumbnail cache files
._*
Thumbs.db
*.lock
Gemfile
Gemfile
Gemfile
*.lock
Gemfile.lock
