body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	max-width: 90rem;
	margin: 0 auto;
}

#grid {
	display: grid;
	gap: .25rem;
 	justify-items: stretch;
 	grid-template-areas:
 	"site-id"
 	"course-info"
 	"assignment"
 	"assignment"
 	"assignment"
 	"assignment"
 	"item"
 	"item"
 	"item"
 	"item"
 	"footer"
 	"footer";
}

.cell1 {grid-area: "site-id";}
.cell2 {grid-area: "course-info";}
.cell3 {grid-area: "assignment";}
.cell4 {grid-area: "item";}
.cell5 {grid-area: "item";}
.cell6 {grid-area: "item";}
.cell7 {grid-area: "item";}
.cell8 {grid-area: "footer";}
.cell9 {grid-area: "footer";}

.cell {
	border: 1px solid silver;
	padding: 2rem;
}

/* 
@media only screen and (min-width: 36rem) {

#grid {
 	grid-template-areas:
 	"site-id course-info"
 	"assignment"
 	"item item"
 	"item item"
 	"footer footer";
}

}
 */