<div class="assignment assignment1" role="navigation" id="navigation">
	<h3>
		{% if page.serial contains 'level-3' %}
		<a href="{{ site.url}}/{{ site.data.assignments[0].url }}">
		{{ site.data.assignments[0].title }}</a>
		{% elsif page.serial contains 'level-4' %}
		<a href="{{ site.url}}/{{ site.data.assignments[4].url }}">
		{{ site.data.assignments[4].title }}</a>
		{% endif %}
	</h3>
	{% if page.serial contains 'level-3' %}
		{% include nav-level-3-assignment-1.html %}
	{% elsif page.serial contains 'level-4' %}
		{% include nav-level-4-assignment-1.html %}
	{% endif %}
</div>
<div class="assignment assignment2">
	<h3>
		{% if page.serial contains 'level-3' %}
		<a href="{{ site.url }}/{{ site.data.assignments[1].url }}">
		{{ site.data.assignments[1].title }}</a>
		{% elsif page.serial contains 'level-4' %}
		<a href="{{ site.url }}/{{ site.data.assignments[5].url }}">
		{{ site.data.assignments[5].title }}</a>
		{% endif %} 
	</h3>
	{% if page.serial contains 'level-3' %} 
		{% include nav-level-3-assignment-2.html %}
	{% elsif page.serial contains 'level-4-item-2' %}
		{% include nav-level-4-assignment-2.html %}
	{% endif %}
</div>
<div class="assignment assignment3">
	<h3>
		{% if page.serial contains 'level-3' %}
		<a href="{{ site.url }}/{{ site.data.assignments[2].url }}">
		{{ site.data.assignments[2].title }}</a>
		{% elsif page.serial contains 'level-4' %}		
		<a href="{{ site.url }}/{{ site.data.assignments[6].url }}">
		{{ site.data.assignments[6].title }}</a>
		{% endif %} 
	</h3>
	{% if page.serial contains 'level-3' %} 
		{% include nav-level-3-assignment-3.html %}
	{% elsif page.serial contains 'level-4-item-3' %}
		{% include nav-level-4-assignment-3.html %}
	{% endif %}
</div>
<div class="assignment assignment4">
	<h3>
		{% if page.serial contains 'level-3' %}
		<a href="{{ site.url }}/{{ site.data.assignments[3].url }}">{{ site.data.assignments[3].title }}</a>
		{% elsif page.serial contains 'level-4' %}
		<a href="{{ site.url }}/{{ site.data.assignments[7].url }}">
		{{ site.data.assignments[7].title }}
		</a>
		{% endif %}
	</h3>
	{% if page.serial contains 'level-3' %} 
		{% include nav-level-3-assignment-4.html %}
	{% elsif page.serial contains 'level-4-item-4' %}
		{% include nav-level-4-assignment-4.html %}
	{% endif %}
</div>
<div class="item item1">
	<h4>
	{% if page.serial contains 'level-3' %} 
		<a href="{{ site.url }}/{{ site.data.assignments[8].url }}">{{ site.data.assignments[8].title }}</a> 
	{% elsif page.serial contains 'level-4' %}
		<a href="{{ site.url }}/{{ site.data.assignments[12].url }}">{{ site.data.assignments[12].title }}</a> 
	{% endif %}
	</h4>
	{% if page.serial contains 'level-3' %} 
		{% include nav-level-3-item-1.html %}
	{% elsif page.serial contains 'level-3-item-1' %}
		{% include nav-level-4-item-1.html %}
	{% endif %}
</div>
<div class="item item2">
	<h4>
	{% if page.serial contains 'level-3' %} 
		<a href="{{ site.url }}/{{ site.data.assignments[9].url }}">{{ site.data.assignments[9].title }}</a> 
	{% elsif page.serial contains 'level-4' %}
		<a href="{{ site.url }}/{{ site.data.assignments[13].url }}">{{ site.data.assignments[13].title }}</a> 
	{% endif %}
	</h4>
	{% if page.serial contains 'level-3' %} 
		{% include nav-level-3-item-2.html %}
	{% elsif page.serial contains 'level-4-item-2' %}
		{% include nav-level-4-item-2.html %}
	{% endif %}
</div>
<div class="item item3">
	<h4>
	{% if page.serial contains 'level-3' %} 
		<a href="{{ site.url }}/{{ site.data.assignments[10].url }}">{{ site.data.assignments[10].title }}</a> 
	{% elsif page.serial contains 'level-4' %}
		<a href="{{ site.url }}/{{ site.data.assignments[14].url }}">{{ site.data.assignments[14].title }}</a> 
	{% endif %}
	</h4>
	{% if page.serial contains 'level-3' %} 
		{% include nav-level-3-item-3.html %}
	{% elsif page.serial contains 'level-4-item-3' %}
		{% include nav-level-4-item-3.html %}
	{% endif %}
</div>
<div class="item item4">
	<h4>
	{% if page.serial contains 'level-3' %} 
		<a href="{{ site.url }}/{{ site.data.assignments[11].url }}">{{ site.data.assignments[11].title }}</a> 	
	{% elsif page.serial contains 'level-4' %}
		<a href="{{ site.url }}/{{ site.data.assignments[15].url }}">{{ site.data.assignments[15].title }}</a> 
	{% endif %}
	</h4>
	{% if page.serial contains 'type-trivia' %}
		{% include nav-type-trivia.html %}
	{% elsif page.serial contains 'level-4-item-4' %}
		{% include nav-level-4-item-4.html %}
	{% endif %}
</div>
