<div>
	<h3 class="text-align-right">
		<a href="{{ site.url }}/type-3/index.html" class="hover-blue"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24">
<style>.darkgrey{fill-rule:evenodd;clip-rule:evenodd;fill:rgb(76, 76, 76)}.darkgrey:hover {fill:rgb(41, 151, 255, 1);}</style><path d="M23.6 10.8L21 8.3V1.7c0-.4-.3-.7-.8-.7h-3.5c-.4 0-.7.3-.7.7v1.7L12.5.2c-.3-.3-.7-.3-1 0L.4 10.9c-.3.2-.4.5-.4.8 0 .7.6 1.3 1.2 1.3H3v9.5c0 .8.7 1.5 1.5 1.5h4.2c.4 0 .8-.3.8-.8v-6.8c0-.1.1-.2.2-.2h4.5c.1 0 .2.1.2.2v6.8c0 .4.3.8.8.8h4.2c.8 0 1.5-.7 1.5-1.5V13h1.8c.7 0 1.2-.6 1.2-1.2.1-.4 0-.7-.3-1z" class="darkgrey" /></svg></a>
	</h3>
</div>
<div>
	{% if page.serial contains 'level-3' %}
	<a href="{{ site.data.metadata.courses[0].brightspace }}">Type 3 on BrightSpace</a>
	{% elsif page.serial contains 'level-4' %}
	<a href="{{ site.data.metadata.courses[1].brightspace }}">Type 3 on BrightSpace</a>
	{% endif %}
</div>
<div>
	<a href="{{site.baseurl}}/type/type-3/grading.html">Grading Assignments</a>
</div>
