<div>
	<h3 class="text-right">
		<a href="{{ site.url }}/index.html" title="Type Home" class="text-right">{% include button-home.svg %}</a>
	</h3>
</div>
{% if page.serial contains 'level-3' %} 
<div>
	<a href="{{ site.data.metadata.courses[0].brightspace }}">BrightSpace: Type 3</a> 
</div>
{% elsif page.serial contains 'level-4' %} 
<div>
	<a href="{{ site.data.metadata.courses[1].brightspace }}">BrightSpace: Type 4</a> 
</div>
{% else %} 
<div>
	<a href="{{ site.data.metadata.courses[0].brightspace }}">BrightSpace: Type 3</a> 
</div>
<div>
	<a href="{{ site.data.metadata.courses[1].brightspace }}">BrightSpace: Type 4</a> 
</div>
{% endif %}