<div>
	<h3>
		&nbsp;
	</h3>
</div>
{% if page.path contains "type-3" %} 
	<div>
		{{ site.data.metadata.courses[0].coursecode }} {{ site.data.metadata.courses[0].title }} 
	</div>
	<div>
		Hours: {{ site.data.metadata.courses[0].hours }}
	</div>
	<div>
		Prof. {{ site.data.metadata.courses[0].prof }}
	</div>
	<div>
		{{ site.data.metadata.courses[1].position }}
	</div>
{% elsif page.path contains "type-4" %} 
	<div>
		{{ site.data.metadata.courses[1].coursecode }} {{ site.data.metadata.courses[1].title }} 
	</div>
	<div>
		Hours: {{ site.data.metadata.courses[1].hours }}
	</div>
	<div>
		Prof. {{ site.data.metadata.courses[1].prof }}
	</div>
	<div>
		{{ site.data.metadata.courses[1].position }}
	</div>
{% else %}
	<div>
		Prof. {{ site.data.metadata.courses[1].prof }}
	</div>
	<div>
		{{ site.data.metadata.courses[1].position }}
	</div>
{% endif %}
