<div>
	<h3>&nbsp;</h3>
</div>
{% if page.serial contains 'level-3' %} 
<div>
	<a href="{{ site.data.metadata.courses[0].brightspace }}">BrightSpace: Type 3</a> 
</div>
<div>
	<a href="{{ site.data.metadata.program-links[3].url }}" target="_blank">{{ site.data.metadata.program-links[3].name }}</a>
</div>
<div>
	<a href="{{ site.data.metadata.program-links[4].url }}">{{ site.data.metadata.program-links[4].name }}</a>
</div>
{% elsif page.serial contains 'level-4' %} 
<div>
	<a href="{{ site.data.metadata.courses[1].brightspace }}">BrightSpace: Type 4</a> 
</div>
<div>
	<a href="{{ site.data.metadata.program-links[3].url }}" target="_blank">{{ site.data.metadata.program-links[3].name }}</a>
</div>
<div>
	<a href="{{ site.data.metadata.program-links[4].url }}">{{ site.data.metadata.program-links[4].name }}</a>
</div>
{% else %} 
<div>
	<a href="{{ site.data.metadata.program-links[3].url }}" target="_blank">{{ site.data.metadata.program-links[3].name }}</a>
</div>
<div>
	<a href="{{ site.data.metadata.program-links[4].url }}">{{ site.data.metadata.program-links[4].name }}</a>
</div>
{% endif %}