<span class="footer footer1">
{% if page.path contains "type-3" %}
	<div><a href="{{ site.url }}/type-3/index.html" class="site-id" title="Return to Typography 3 Home Page">Typography<sup>3</sup></a></div>
{% elsif page.path contains "type-4" %}
	<div><a href="{{ site.url }}/type-4/index.html" class="site-id" title="Return to Typography 4 Home Page">Typography<sup>4</sup></a></div>
{% else %}
	<div><a href="{{ site.url }}/index.html" class="site-id" title="Return to Typography Home Page">Typography</a></div>
{% endif %}
</span>
<span class="footer footer2">
	<h4>Faculty</h4>
	<ul>
		<li><i>{{ site.data.metadata.courses[0].prof }}</i></li>
		<li><a href="mailto:{{ site.data.metadata.courses[0].email }}">{{ site.data.metadata.courses[0].email }}</a></li>
	</ul>
</span>
<span class="footer footer3">
	<h4>Program Web Sites</h4>
	<ul>
	{% for link in site.data.metadata.program-links %}
	<li><a href="{{ link.url }}" title="{{ link.name }}" class="">{{ link.name }}</a></li>
	{% endfor %}
	</ul>
</span>
<span class="footer footer4">
	<h4>Other Resources</h4>
	<ul>
	{% for link in site.data.metadata.other-links %}
	<li><a href="{{ link.url }}" title="{{ link.name }}" class="">{{ link.name }}</a></li>
	{% endfor %}
	</ul>
</span>