<div>
	<ul>
		<li><a href="{{site.url}}" class="site-id">Typography<sup>3</sup></a></li>
	</ul>
</div>
<div>
	<ul>
		<li>Alain Paradis</li>
		<li><a href="mailto:paradia@algonquincollege.com">paradia@algonquincollege.com</a>  <a href="{{site.url}}/scratchpad.html" title="ScratchPad">§</a></li>
	</ul>
</div>
<div>
	<ul>
		<li><a href="https://algonquindesign.ca" title="Algonquin Design">AlgonquinDesign.ca</a></li>
		<li><a href="https://learn-the-web.algonquindesign.ca" title="Learn The Web">Learn-The-Web</a></li>
		<li><a href="https://cg.algonquindesign.ca" title="Computer Graphics">Computer Graphics</a></li>
	</ul>
</div>