 <ul class="footer-item">
	<li>Useful Links</li>
	<li><a href="https://outlook.office365.com/owa/calendar/AlgonquinCollegeGraphicDesign@AlgonquinLivecom.onmicrosoft.com/bookings/" alt:="Book an Appointment with Dave or Al." target="_blank">Book an Appointment</a></li>
	<li><a href="https://www.algonquincollege.com/cal" alt:="Centre for Accessible Learning" target="_blank">Centre for Accessible Learning</a></li>
	<li><a href="https://www.algonquincollege.com/ccr/" alt:="Algonquin College Co-Curricular Activities" target="_blank">Co-Curriculars</a></li>
</ul>
