<div class="assignment nav_1" role="navigation" id="navigation">
	<h3>
		<a href="{{ site.url}}/{{ site.data.type4[0].url }}">{{ site.data.type4[0].title }}</a> 
	</h3>
<ul class="nav-page-list {% if page.serial contains 'level-4-assignment-1' %}visible{% endif %}">
	{% assign assignmentPages = site.data.type4[0].pages %}
		{% for item in assignmentPages %}
			{% unless item.type == 'assignment-home' %} 
				<li><a href="{{ site.url }}/{{ item.url }}" class="{% if page.serial == item.serial %}current{% endif %}">{{ item.title }}</a></li>
			{% endunless %}
		{% endfor %}
</ul>
</div>
<div class="assignment nav_2">
	<h3>
		<a href="{{ site.url}}/{{ site.data.type4[1].url }}">{{ site.data.type4[1].title }}</a> 
	</h3>
	<ul class="nav-page-list {% if page.serial contains 'level-4-assignment-2' %}visible{% endif %}">
		{% assign assignmentPages = site.data.type4[1].pages %} {% for item in assignmentPages %} {% unless item.type == 'assignment-home' %} 
		<li><a href="{{ site.url }}/{{ item.url }}" class="{% if page.serial == item.serial %}current{% endif %}">{{ item.title }}</a></li>
		{% endunless %} {% endfor %} 
	</ul>
</div>
<div class="assignment nav_3">
	<h3>
		<a href="{{ site.url}}/{{ site.data.type4[2].url }}">{{ site.data.type4[2].title }}</a> 
	</h3>
	<ul class="nav-page-list {% if page.serial contains 'level-4-assignment-3' %}visible{% endif %}">
		{% assign assignmentPages = site.data.type4[2].pages %} {% for item in assignmentPages %} {% unless item.type == 'assignment-home' %} 
		<li><a href="{{ site.url }}/{{ item.url }}" class="{% if page.serial == item.serial %}current{% endif %}">{{ item.title }}</a></li>
		{% endunless %} {% endfor %} 
	</ul>
</div>
<div class="assignment nav_4">
	<h3>
		<a href="{{ site.url }}/{{ site.data.type4[3].url }}">{{ site.data.type4[3].title }}</a> 
	</h3>
<ul class="nav-page-list {% if page.serial contains 'level-4-assignment-4' %}visible{% endif %}">
	{% assign assignmentPages = site.data.type4[3].pages %}
		{% for item in assignmentPages %}
			{% unless item.type == 'assignment-home' %} 
				<li><a href="{{ site.url }}/{{ item.url }}" class="{% if page.serial == item.serial %}current{% endif %}">{{ item.title }}</a></li>
			{% endunless %}
		{% endfor %}
</ul></div>
<div class="item nav_5">
	<h4>
		<a href="{{ site.url }}/{{ site.data.type4[4].url }}">{{ site.data.type4[4].title }}</a> 
	</h4>
	<ul class="nav-page-list {% if page.serial contains 'level-4-item-1' %}visible{% endif %}">
		{% assign assignmentPages = site.data.type4[4].pages %} {% for item in assignmentPages %} {% unless item.type == 'assignment-home' %} 
		<li><a href="{{ site.url }}/{{ item.url }}" class="{% if page.serial == item.serial %}current{% endif %}">{{ item.title }}</a></li>
		{% endunless %} {% endfor %} 
	</ul>
</div>
<div class="item nav_6">
	<h4>
		<a href="/kb/index.html">Type Knowledge Base</a>
	</h4>
	<ul class="nav-page-list {% if page.serial contains 'level-4-item-2' %}visible{% endif %}">
	<li><a href="https://brightspace.algonquincollege.com/d2l/lms/quizzing/user/quizzes_list.d2l?ou=448664" title="BrightSpace Quizzes" target="_blank">Brightspace Quizzes</a></li>
	</ul>
</div>
<div class="item nav_7">
	<h4>
		<a href="{{ site.url }}/{{ site.data.type4[6].url }}">{{ site.data.type4[6].title }}</a> 
	</h4>
	<ul class="nav-page-list {% if page.serial contains 'level-3-item-3' %}visible{% endif %}">
		{% assign assignmentPages = site.data.type4[6].pages %} {% for item in assignmentPages %} {% unless item.type == 'assignment-home' %} 
		<li><a href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a></li>
		{% endunless %} {% endfor %} 
	</ul>
</div>
<div class="item nav_8">
	<h4>
		<a href="{{ site.url }}/{{ site.data.type4[7].url }}">{{ site.data.type4[7].title }}</a> 
	</h4>
	<ul class="nav-page-list {% if page.serial contains 'level-3-item-4' %}visible{% endif %}">
		{% assign assignmentPages = site.data.type4[7].pages %} {% for item in assignmentPages %} {% unless item.type == 'assignment-home' %} 
		<li><a href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a></li>
		{% endunless %} {% endfor %} 
	</ul>
</div>
