<div class="assignment nav_1" role="navigation" id="navigation">
	<h3><a href="{{ site.url }}/type-3/index.html" title="Type 3">Typography 3</a></h3>
	<p>
	{{ site.data.metadata.courses[0].course-description }}
	</p>
</div>
<div class="assignment nav_2">
	<h3><a href="{{ site.url }}/type-4/index.html" title="Type 4">Typography 4</a></h3>
	<p>
	{{ site.data.metadata.courses[1].course-description }}
	</p>
</div>
<div class="item nav_3">
	<h4><a href="{{ site.url }}/kb/index.html" title="Type Knowledge Base">Type Knowledge Base</a></h4>
	<p>
	Learn little-known facts about type.
	</p>
</div>
<div class="item nav_4">
	<h4><a href="{{ site.url }}/pages/assessment.html" title="Assessment">Assessment</a></h4>
	<p>
	Be sure to read how you'll be assessed in Type&nbsp;3&nbsp;&&nbsp;4.
	</p>
</div>
<div class="item nav_5">
	<h4><a href="{{ site.url }}/pages/the_type_industry.html" title="The Type Industry">The Type Industry</a></h4>
	<p>
	Read about how the type industry works. Learn about intellectual property, distribution, and who the major players are in the industry.
	</p>

	</ul>
</div>