<div class="assignment nav_1" role="navigation" id="navigation">
	<h3>
		<a href="{{ site.url}}/{{ site.data.type3[0].url }}">{{ site.data.type3[0].title }}</a>
	</h3>
		{% include nav-level-3-assignment-1.html %}
</div>
<div class="assignment nav_2">
	<h3>
		<a href="{{ site.url}}/{{ site.data.type3[1].url }}">{{ site.data.type3[1].title }}</a>
	</h3>
		{% include nav-level-3-assignment-2.html %}
</div>
<div class="assignment nav_3">
	<h3>
		<a href="{{ site.url }}/{{ site.data.type3[2].url }}">{{ site.data.type3[2].title }}</a>
	</h3>
		{% include nav-level-3-assignment-3.html %}
</div>
<div class="assignment nav_4">
	<h3>
		<a href="{{ site.url }}/{{ site.data.type3[3].url }}">{{ site.data.type3[3].title }}</a>
	</h3>
		{% include nav-level-3-assignment-4.html %}
</div>
<div class="item item1">
	<h4>
		<a href="{{ site.url }}/{{ site.data.type3[4].url }}">{{ site.data.type3[4].title }}</a> 
	</h4>
		{% include nav-level-3-item-1.html %}
</div>
<div class="item item2">
	<h4>
		<a href="{{ site.url }}/{{ site.data.type3[5].url }}">{{ site.data.type3[5].title }}</a> 
	</h4>
		{% include nav-level-3-item-2.html %}
</div>
<div class="item item3">
	<h4>
		<a href="{{ site.url }}/{{ site.data.type3[6].url }}">{{ site.data.type3[6].title }}</a> 
	</h4>
		{% include nav-level-3-item-3.html %}
</div>
<div class="item item4">
	<h4>
		<a href="{{ site.url }}/{{ site.data.type3[7].url }}">{{ site.data.type3[7].title }}</a> 
	</h4>
		{% include nav-level-3-item-4.html %}
</div>