<html>
<head>
	<link rel="stylesheet" href="{{site.url}}/css/grid.css" type="text/css" />
</head>
<body>
<div id="container">
	<div id="one">
		<div class="item item1">
			Site Logo 
		</div>
		<div class="item item2">
			Course Info 
		</div>
	</div>
	<div id="two">
		<div class="item item4">
			<div class="assignment assignment1">
				Assignment #1 
			</div>
			<div class="assignment assignment2">
				Assignment #2 
			</div>
			<div class="assignment assignment3">
				Assignment #3 
			</div>
			<div class="assignment assignment4">
				Assignment #4 
			</div>
			<div class="assignment assignment5">
				Assignment #5 
			</div>
			<div class="assignment assignment6">
				Assignment #6 
			</div>
			<div class="assignment assignment7">
				Assignment #7 
			</div>
			<div class="assignment assignment8">
				Assignment #8 
			</div>
			<div class="assignment assignment9">
				Assignment #9 
			</div>
			<div class="assignment assignment8">
			</div>
			<div class="item item3">
				{{content}} 
			</div>
		</div>
	</div>
	<div class="item footer">
		Footer 
	</div>
</div>
</body>
</html>
