<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <title>DSN1534 Typography 3</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      description="This is the curriculum web site for DSN1534 Typography 3 in the Graphic Design Program at Algonquin College. It is authored and maintained by Alain Paradis"
    />
    <link rel="stylesheet" href="{{site.url}}/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{site.url}}/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="{{site.url}}/css/typography.css" type="text/css" />
  </head>
  <body>
    <div id="grid">
      <div class="site-id">
        <a href="{{site.url}}">Type<sup>3</sup></a>
      </div>
      <header class="header">
        <div class="cell">
          <h3>About This Course</h3>
          <div>
            Proficient typesetting allows a designer to compose and structure
            complex passages of content that are visually appealing in order to
            allow the information to be easily followed. Students combine text
            and imagery to craft professional layouts and informational
            documents.
          </div>
        </div>
        <div class="cell">
          <div>Course Code: DSN1534 Typography 3</div>
          <div>Course Duration: 43 hours</div>
          <div>Professor: Alain Paradis</div>
          <div>E-Mail: paradia@algonquincollege.com</div>
        </div>
      </header>
      <div class="area1 assignment">
          <h1>{{page.title}}</h1>
          {{content}}
      </div>
      <div class="area2">
        <div class="cell">
          <h3>Assignments</h3>
          {% assign all_assignments = site.assignments %}
          <nav>
            <ul class="nav">
              {% for item in all_assignments %}
              <li><a href="{{site.url}}{{item.url}}">{{item.title}}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="cell">
          <h3>Micro-Assignments</h3>
          {% assign all_micros = site.micro-assignments %}
          <nav>
            <ul class="nav">
              {% for item in all_micros %}
              <li><a href="{{site.url}}{{item.url}}">{{item.title}}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="cell">
          <h3>Grids</h3>
          <nav>
            {% assign all_grids = site.grids %}
            <ul class="nav">
              {% for item in all_grids %}
              <li><a href="{{site.url}}{{item.url}}">{{item.title}}</a></li>
              {% endfor %}
              <ul class="nav">
                {% assign all_grids-pages = site.grids-pages %} {% for item in
                all_grids-pages %}
                <li class="two">
                  <a href="{{site.url}}{{item.url}}">{{item.title}}</a>
                </li>
                {% endfor %}
              </ul>
            </ul>
          </nav>
        </div>
        <div class="cell">
          <h3>Type Facts</h3>
          <nav>
            {% assign all_type-facts = site.type-facts %}
            <ul class="nav">
              {% for item in all_type-facts %}
              <li><a href="{{site.url}}{{item.url}}">{{item.title}}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="cell">
          <h3>This is a cell title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum
            praesentium ipsa, veritatis labore reiciendis vel nisi distinctio
            consequuntur ullam illum dolorem, ab voluptatibus assumenda quasi
            accusantium ex. Minima, natus.
          </p>
        </div>
        <div class="cell">
          <h3>This is a cell title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum
            praesentium ipsa, veritatis labore reiciendis vel nisi distinctio
            consequuntur ullam illum dolorem, ab voluptatibus assumenda quasi
            accusantium ex. Minima, natus.
          </p>
        </div>
      </div>
      <footer>{% include footer.html %}</footer>
    </div>
  </body>
</html>
