<html>
<head>
	{% include head.html %} 
	<link rel="stylesheet" href="{{site.url}}/css/grid-course-home.css" type="text/css" />
</head>
<body>
<div id="grid">
	<nav>
		<span><a class="skip-to-content-link" href="#main">Skip to content</a></span> <span><a href="{{ site.url }}/type-3/index.html">Type 3</a></span> <span><a href="{{ site.url }}/type-4/index.html">Type 4</a></span> 
	</nav>
	<div class="site-id1">
		{% if page.serial contains 'level-3' %} <a href="{{ site.url }}/type-3/index.html" class="site-id">Type<sup>3</sup></a> {% elsif page.serial contains 'level-4' %} <a href="{{ site.url }}/type-4/index.html" class="site-id">Type<sup>4</sup></a> {% endif %} 
	</div>
	<div class="site-id2">
		&nbsp;
	</div>
	<div class="course-info1">
		{% include course-info1.html %}
	</div>
	<div class="course-info2">
		{% include course-info2.html %}
	</div>
	{% include assignment-nav.html %}
	{% include footer.html %} 
</div>
</body>
</html>
