<!DOCTYPE html>
<html lang="en-ca">
<head>
	<title>DSN1534 Typography 3</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta description="This is the curriculum web site for DSN1534 Typography 3 in the Graphic Design Program at Algonquin College. It is authored and maintained by Alain Paradis" />
	<link rel="stylesheet" href="{{site.url}}/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="{{site.url}}/css/layout.css" type="text/css" />
	<link rel="stylesheet" href="{{site.url}}/css/typography.css" type="text/css" />
	<link rel="stylesheet" href="{{site.url}}/css/elements.css" type="text/css" />
	<link href="{{site.url}}/fonts/FiraSans-Regular.woff" rel="preload" as="font" type="font/woff">

</head>
<body>
<div id="grid">
	<div>
		<a href="{{site.url}}" class="site-id">Type<sup>3</sup></a> 
	</div>
	<header class="header">
		<div class="cell">
			{% include about-course.html%} 
		</div>
		<div class="cell">
			{% include course-info.html %} 
		</div>
	</header>
	<div class="area1">
		<div class="cell">
			{% if page.type != home %} 
			<h1>
				{{page.title}} 
			</h1>
			<div class="deck">
				{{page.deck}}
			</div>
			{% endif %}
			{{ content }} 
		</div>
	</div>
	<nav>
		<div class="cell">
			<h3>
				{% for pagename in site.grids %}
				{% if pagename.type == 'topic-home' %} 
				<a href="{{ pagename.url }}/index.html">
				{{ pagename.sortorder }} 
				{{ pagename.title }}
				</a>
				{% endif %}
				{% endfor %}
			</h3>
			<ul>
				{% assign allpages = site.grids | sort: 'sortorder' %}
				{% for assignment in allpages %}
				{% if assignment.type != 'topic-home' %} 
				<li><a href="{{site.url}}{{assignment.url}}" title="{{ assignment.deck }}">{{ assignment.title }}</a></li>
				{% endif %}
				{% endfor %} 
			</ul>
		</div>
		<div class="cell">
		</div>
		<div class="cell">
		</div>
		<div class="cell">
		</div>
		<div class="cell">
		</div>
		<div class="cell">
		</div>
		<div class="cell">
		</div>
		<div class="cell">
		</div>
	</nav>
	<footer>
		{% include footer.html %} 
	</footer>
</div>
</body>
</html>
