<!DOCTYPE html>
<html lang="en-ca">
<head>
	{% include head.html %} 
</head>
<body>
<div id="grid">
	<div>
		<a href="{{site.url}}" class="site-id">Type<sup>3</sup></a> 
	</div>
	<header class="header">
		<div class="cell">
			{% include about-course.html%} 
		</div>
		<div class="cell">
			{% include course-info.html %} 
		</div>
	</header>
	<div class="area1">
		<div class="cell">
			{% if page.type != 'home' %} 
			<h1>
				{{page.title}} 
			</h1>
			<div class="deck">
				{{page.deck}} 
			</div>
			{% endif %}
			{{ content }} 
		</div>
	</div>
	<nav>
		<div class="cell">
			{% include assignment1.html %}
		</div>
		<div class="cell">
			{% include assignment2.html %} 
		</div>
		<div class="cell">
			{% include assignment3.html %} 
		</div>
		<div class="cell">
			{% include assignment4.html %} 
		</div>
		<div class="cell">
			{% include assignment5.html %} 
		</div>
	</nav>
	<footer>
		{% include footer.html %} 
	</footer>
</div>
</body>
</html>
