<html>
<head>
	<title>DSN1534 Typography 3</title>
	<link rel="stylesheet" href="{{site.url}}/css/grid.css" type="text/css" />
</head>
<body>
<div id="grid">
	<div class="site-id1">
		<a href="{{site.url}}" class="site-id">Type<sup>3</sup></a> 
	</div>
	<div class="site-id2">
		&nbsp;
	</div>
	<div class="course-info1">
		{% include course-info.html %} 
	</div>
	<div class="course-info2">
		{% include about-course.html%} 
	</div>
	<ul class="assignment1">
		{% assign allPages = site.assignment1 | sort: 'sortorder' %} {% for item in allPages %} {% if item.type != 'topic-home' %} 
		<li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
		{% endif %} {% endfor %} 
	</ul>
	<ul class="assignment2">
		{% assign allPages = site.assignment2 | sort: 'sortorder' %} {% for item in allPages %} {% if item.type != 'topic-home' %} 
		<li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
		{% endif %} {% endfor %} 
	</ul>
	<ul class="assignment3">
		{% assign allPages = site.assignment3 | sort: 'sortorder' %} {% for item in allPages %} {% if item.type != 'topic-home' %} 
		<li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
		{% endif %} {% endfor %} 
	</ul>
	<ul class="assignment4">
		{% assign allPages = site.assignment4 | sort: 'sortorder' %} {% for item in allPages %} {% if item.type != 'topic-home' %} 
		<li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
		{% endif %} {% endfor %} 
	</ul>
	<ul class="assignment5">
		{% assign allPages = site.assignment5 | sort: 'sortorder' %} {% for item in allPages %} {% if item.type != 'topic-home' %} 
		<li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
		{% endif %} {% endfor %} 
	</ul>
	<ul class="assignment6">
		{% assign allPages = site.assignment6 | sort: 'sortorder' %} {% for item in allPages %} {% if item.type != 'topic-home' %} 
		<li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
		{% endif %} {% endfor %} 
	</ul>
	<ul class="item1">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
	</ul>
	<ul class="item2">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
	</ul>
	<ul class="item3">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
	</ul>
	<ul class="item4">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
	</ul>
	<div class="footer1">
		{% include footer1.html %} 
	</div>
	<div class="footer2">
		{% include footer2.html %} 
	</div>
</div>
</body>
</html>
