<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<html lang="en">
<head>
	<title>DSN1534 Typography 3</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/layout.css" type="text/css">
	<link rel="stylesheet" href="/css/typography.css" type="text/css">
	<link rel="stylesheet" href="https://use.typekit.net/nuy7flm.css">
</head>
<body>
<main> 
<div class="wrapper">
	<div>
		<a href="/">HOME</a>
	</div>
	<h3>
		Assignments
	</h3>
	{% assign all_assignments = site.assignments %} 
	<nav>
		<ul class="nav">
			{% for item in all_assignments %} 
			<li><a href="{{item.url}}">{{item.title}}</a></li>
			{% endfor %} 
		</ul>
		<h3>
			Micro-Assignments
		</h3>
		{% assign all_micros = site.micro-assignments %} 
		<nav>
			<ul class="nav">
				{% for item in all_micros %} 
				<li><a href="{{item.url}}">{{item.title}}</a></li>
				{% endfor %} 
			</ul>
		</nav>
	</nav>
</div>
<div class="wrapper">
	<h1>
		{{page.title}} 
	</h1>
	<p>
		{{ page.description | markdownify }} 
	</p>
	{{ page.details | markdownify }} 
</div>
</main> 
<footer>
	{% include footer.html %} 
</footer>
</body>
</html>
