<html>
<head>
	<link rel="stylesheet" href="{{site.url}}/css/grid.css" type="text/css" />
</head>
<body>
<div id="container">
<div class="item">Site Logo</div>
<div class="item">Course Info</div>
<div class="item">
<div class="assignment">Assignment #1</div>
<div class="assignment">Assignment #2</div>
<div class="assignment">Assignment #3</div>
<div class="assignment">Assignment #4</div>
<div class="assignment">Assignment #5</div>
<div class="assignment">Assignment #6</div>
</div>
<div class="item">
<div class="assignment">Assignment #5</div>
<div class="assignment">Assignment #6</div>
<div class="assignment">Assignment #7</div>
<div class="assignment">Assignment #8</div>
<div class="assignment">Assignment #9</div>
<div class="assignment">&nbsp;</div>
</div>
<div class="item footer">Footer</div>
</div>
</body>
</html>
