<!DOCTYPE html>
<html lang="en-ca">
<head>
	<title>DSN1534 Typography 3</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta description="This is the curriculum web site for DSN1534 Typography 3 in the Graphic Design Program at Algonquin College. It is authored and maintained by Alain Paradis">
	<link rel="stylesheet" href="../css/learning.css" type="text/css">
	<link rel="stylesheet" href="https://use.typekit.net/nuy7flm.css">
	<link rel="stylesheet" href="https://use.typekit.net/nuy7flm.css">
</head>
<body>

<main> 
<article>
	Headline
	<p>
	mattis facilisis cursus ultricies lacinia nibh netus potenti accumsan viverra duis platea magna amet posuere tincidunt morbi venenatis elementum nec
	</p>
</article>
<article>
	Headline
	<p>
	mattis facilisis cursus ultricies lacinia nibh netus potenti accumsan viverra duis platea magna amet posuere tincidunt morbi venenatis elementum nec
	</p>
</article>
<article>
	Headline
	<p>
	mattis facilisis cursus ultricies lacinia nibh netus potenti accumsan viverra duis platea magna amet posuere tincidunt morbi venenatis elementum nec
	</p>
</article>
<article>
	Headline
	<p>
	mattis facilisis cursus ultricies lacinia nibh netus potenti accumsan viverra duis platea magna amet posuere tincidunt morbi venenatis elementum nec
	</p>
</article>
</main> 
<div class="wrapper">
</div>
</body>
</html>
