<! DOCTYPE html>
<html lang="en-GB">
<head>
	{% include head.html %}
</head>
<body id="grid">
	<div class="type_id">
		<a href="{{ site.url }}/index.html" class="site-id">Type</a>
	</div>
	<div class="course-info1">
		head_cell_3
	</div>
	<div class="course-info2">
		head_cell_4
	</div>
	<div id="type_content" role="main">
	<h2>{{ page.title }}</h2>
	<div class="post_content">{{ content }}</div>
	</div>
	<div class="post_list" role="navigation" id="navigation">
	</div>
	{% include nav_posts.html %}
	{% include footer.html %}
</body>
</html>
