<!DOCTYPE html>
<html lang="en-ca">
<head>
	{% include head.html %} 
</head>
<body>
<div id="{% if page.type == 'site-home' %}grid-home{% endif %}{% if page.type == 'subpage' %}grid{% endif %}">
	<div id="site-id" >
		<a href="{{site.url}}" class="site-id">Type<sup>3</sup></a> 
	</div>
	<header class="header">
		<div class="cell">
			{% include about-course.html%} 
		</div>
		<div class="cell">
			{% include course-info.html %} 
		</div>
	</header>
	<nav>
		<div class="cell">
			{% include assignment1.html %} 
		</div>
		<div class="cell">
			{% include assignment2.html %} 
		</div>
		<div class="cell">
			{% include assignment3.html %} 
		</div>
		<div class="cell">
			{% include assignment4.html %} 
		</div>
		<div class="cell">
			{% include assignment5.html %} 
		</div>
		<div class="cell">
			{% include assignment6.html %} 
		</div>
		<div class="cell">
			{% include assignment7.html %} 
		</div>
		<div class="cell">
			{% include assignment8.html %} 
		</div>
	</nav>
	<footer>
		{% include footer.html %} 
	</footer>
</div>
</body>
</html>
