<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{site.url}}/css/grid-site-home.css" type="text/css" />
  </head>
  <body>
    <div id="grid">
      <div class="type3-id">
        <a href="{{ site.url }}" class="site-id">Type<sup>3</sup></a>
      </div>
      <div class="site-id2">&nbsp;</div>
      <div class="type3-info1">{% include course-info1.html %}</div>
      <div class="type3-info2">{% include course-info2.html%}</div>
      <div class="type3-content"><h1>Content</h1></div>
      <div class="type4-id">
        <a href="{{ site.url }}" class="site-id">Type<sup>4</sup></a>
      </div>
      <div class="type4-id2">&nbsp;</div>
      <div class="type4-info1">{% include course-info1.html %}</div>
      <div class="type4-info2">{% include course-info2.html%}</div>
      <div class="type4-content"><h1>Content</h1></div>
      <div class="footer1">{% include footer1.html %}</div>
      <div class="footer2">{% include footer2.html %}</div>
      <div class="footer3">{% include footer3.html %}</div>
      <div class="footer4">{% include footer4.html %}</div>
    </div>
  </body>
</html>
