<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.url }}/css/grid-site-home.css" type="text/css" />
	<meta http-equiv="Refresh" content="0; url='{{ site.baseurl }}/{{site.url}}/type-3/index.html'" />
  </head>
  <body>
    <div id="grid">
      <div class="type3-id">
        <a href="{{ site.url }}/type-3/index.html" class="site-id">Type<sup>3</sup></a>
      </div>
      <div class="site-id2">&nbsp;</div>
      <div class="course-info1 type3-info1">
        <h3>About This Course</h3>
        <div>
          {{ site.data.metadata.courses[0].coursecode }} {{ site.data.metadata.courses[0].title }}
        </div>
        <div>Hours: {{ site.data.metadata.courses[0].hours }}</div>
        <div>Prof: {{ site.data.metadata.courses[0].prof }}</div>
      </div>
      <div class="course-info2 type3-info2">
        <h3>&nbsp;</h3>
        {{ site.data.metadata.courses[0].course-description }}
      </div>
      <div class="content">

      </div>
      <div class="type4-id">
        <a href="{{ site.url }}/type-4/index.html" class="site-id">Type<sup>4</sup></a>
      </div>
      <div class="site-id2">&nbsp;</div>
      <div class="course-info1 type4-info1">
        <h3>About This Course</h3>
        <div>
          {{ site.data.metadata.courses[1].coursecode }} {{ site.data.metadata.courses[1].title }}
        </div>
        <div>Hours: {{ site.data.metadata.courses[1].hours }}</div>
        <div>Prof: {{ site.data.metadata.courses[1].prof }}</div>
      </div>
      <div class="course-info2 type4-info2">
        <h3>&nbsp;</h3>
        {{ site.data.metadata.courses[1].course-description }}
      </div>
      <div class="content">
        
      </div>
      {% include footer.html %}
  </body>
</html>
