<! DOCTYPE html>
<html lang="en">
<html>
<head>
	{% include head.html %} 
</head>
<body id="grid">
	<div id="top-nav">
			<a href="{{ site.url }}/index.html" title="Type Home">Home</a>
			<a href="{{ site.url }}/type-3/index.html" title="Type 3 Home">Type&nbsp;3</a>
			<a href="{{ site.url }}/type-4/index.html" title="Type 4 Home">Type&nbsp;4</a>
	</div>
	<div id="site-id">
		<a href="{{ site.url }}/index.html" class="site-id">Type</a>
	</div>
	<div id="course-info1">{% include course-info1.html %}</div>
	<div id="course-info2">{% include course-info2.html %}</div>
	<div id="content" role="main">
	<h1>{{ page.title }}</h1>
	<div class="deck">
	{{ page.deck }}
	</div>
		{{ content }}
	</div>
	{% include nav_type.html %}
	{% include footer.html %}
</body>
</html>
