<! DOCTYPE html>
<html lang="en">
<html>
<head>
	{% include head.html %}
</head>
<body>
<div id="grid">
	<div id="top-nav">
			<a href="{{ site.url }}/index.html" title="Type Home">Home</a>
			<a href="{{ site.url }}/type-3/index.html" title="Type 3 Home">Type&nbsp;3</a>
			<a href="{{ site.url }}/type-4/index.html" title="Type 4 Home">Type&nbsp;4</a>
	</div>
	<div id="site-id">
		<a href="{{ site.url }}/type-3/index.html" class="site-id">Type<sup>3</sup></a>
	</div>
	<div id="course-info1">{% include course-info1.html %}</div>
	<div id="course-info2">{% include course-info2.html %}</div>
	<div id="content" role="main">
	{% if page.serial contains "home" %} 
	<h1>
	{% if page.serial contains 'course-home' %} 
		{{ page.title }}
	{% endif %}
	<ul>
	{% for headings in site.data.type3 %}
		{% if page.serial == headings.serial %} 
			<li>{{ headings.title }}</li>
		{% endif %}
	{% endfor %}
	</ul>
	</h1>
	{% elsif page.serial contains "subpage" %}
	<h1>
	<ul>
	{% for allHeadings in site.data.type3 %}
	{% for headings in allHeadings.pages %}
		{% if page.serial == headings.serial %} 
			<li>{{ headings.title }}</li>
		{% endif %}
	{% endfor %}
	{% endfor %}
	</ul>
	</h1>
	{% endif %}
	<div class="deck">
	{% if page.serial contains "home" %}
	<ul>
	{% for decks in site.data.type3 %}
		{% if page.serial == decks.serial %} 
			<li>{{ decks.deck }}</li>
		{% endif %}
	{% endfor %}
	</ul>
	{% else %}
	<ul>
	{% for entry in site.data.type3 %}
		{% for decks in entry.pages %}
			{% if page.serial == decks.serial %} 
				<li>{{ decks.deck }}</li>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>
	{% endif %}
	</div>
	<div>
	{% if page.serial contains 'home' and page.serial contains 'assignment' %}
	<h3>How To Get An A</h3>
	<p>This is what you need to do to ace this assignment.</p>
	<ul class="hasBullets">
		{% for entry in site.data.type3 %}
		{% for item in entry.outcomes %}
		{% if page.serial == entry.serial %} 
			<li>{{ item.outcome }}</li>
		{% endif %} 
		{% endfor %}
		{% endfor %}
	</ul>
	<h3>Video Playlist</h3>
	<ul class="hasBullets">
	   {% for entry in site.data.type3 %}
	   {% for item in entry.videos %}
	   {% if page.serial == entry.serial %} 
		   <li><a href="{{ item.video_url}}" title="{{ item.video_title }}" target="_blank">{{ item.video_title }}</a></li>
	   {% endif %} 
	   {% endfor %}
	   {% endfor %}
	</ul>
	<h3>The Brief</h3>
	{% endif %}
	{{ content }}
	</div>
	</div>
	{% include nav_type_3.html %}
	{% include footer.html %}
</body>
</html>